<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>init.ejs</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<body>
    <h1>Edit - <%= article.name %></h1>
    <div>
        <form action = "/article/<%= article.name %>/edit" method="post" >
            <h1>Title</h1>
            <input type="text" id="titleInput" name="title" value = <%= article.name %> readonly>

            <h2>Contents</h2>
            <textarea id="textInput" name="contents"><%= article.contents %></textarea>

            <button type="submit" >Update That Article!</button>
            <a href="#" onclick="window.history.back(); return false;">Never mind</a>
        </form>
    </div>
</body>
</html>